.NavBar {
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.NavBar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar a,
.NavBar .logout-btn {
  text-decoration: none;
  color: rgba(40, 40, 40, 0.7);
  transition: all 0.2s;
}

.NavBar a.active {
  color: rgba(40, 40, 40, 1);
}

.NavBar a:hover,
.NavBar .logout-btn:hover {
  color: rgba(40, 40, 40, 1);
}

.NavBar-logo a {
  font-size: 1.4rem;
  color: #fff;
}

.NavBar-links {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.NavBar .logout-btn {
  display: inline;
  font-size: 1rem;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
