.App {
  text-align: left;
}

main {
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #efefef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.card-link {
  text-decoration: none;
  color: initial;
}

.card {
  /* REMOVE THIS CLASS LATER */
  margin-top: 1rem;
}

.card img {
  width: 100%;
  max-width: 8rem;
  height: 8rem;
}
